.message-preview {
  font-size: 14px;
  color: #666;
  max-width: 100px;           
  white-space: nowrap;         
  overflow: hidden;             
  text-overflow: ellipsis;      
}

.room-item{
    cursor: pointer;
    background-color: #e0cece98;
    padding-left: 10px;
}
.room-item:hover {
  background-color: #b3b3b3;
}