.CustomerMap {
    display: flex;
    margin-top: -3px;
    height: 200px;
    gap: 1px;

}

.map-container {
    height: 100px;
    width: 100%;
}


.inputMapContainer{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin-left:10px;
    gap: 2px;
    /* background-color: yellow;    */
    
}


.inputMap{
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;

}

.inputMap-province{
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}


.inputMap-district{
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}

.inputMap-subdistrict{
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}
.inputMap-zipcode{
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}




.inputMap-latitude{
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}

.inputMap-longitude{
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}

.latilong-container{
    display: flex;
    gap: 2px;
    flex-direction: row;
}

.MapCustomerContainer{
    position: 'relative';
    height: 200px;
    width: 100%;
}

.ButtonSaveAddress{
    width:150px;
    font-size: 16px;
    font-family: 'Sarabun', sans-serif;
    padding: 2px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: rgb(22, 117, 27);

    cursor: pointer;
}

.ButtonSaveAddress:hover{
    background-color: rgb(55, 185, 77);
    color: rgb(255, 255, 255);
}

.ButtonLocation{
    width:150px;
    font-size: 15px;
    font-family: 'Sarabun', sans-serif;
    padding: 2px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: rgb(250, 63, 63);
    cursor: pointer;
}

.ButtonLocation:hover{
    background-color: rgb(238, 34, 34);
    color: rgb(255, 255, 255);
}

.ButtonSetPin{
    width:120px;
    font-size:16px;
    font-family: 'Sarabun', sans-serif;
    padding: 2px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: rgb(230, 160, 30);
    cursor: pointer;
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.button-container-left{
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 95%;
}
.button-container-right{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 95%;
}